.vscode/settings.json
*__pycache__
**/.cache
**/node_modules/**
**/*.pem

Data/DataEngineering/airflow/service/secrets/
Data/DataEngineering/DB/postgresql/data
Data/DataEngineering/Docker/images/workstation/code-server/extensions/*
Data/DataEngineering/spark/pyspark/data/*

Data/DataScience/Frameworks/Tensorflow/Transformer/ted_hrlr_translate_pt_en_converter.zip
Data/DataScience/Frameworks/Tensorflow/Transformer/ted_hrlr_translate_pt_en_converter/*
Data/DataScience/Frameworks/Tensorflow/Transformer/translator/*
Data/DataScience/MLOps/MLflow/mlruns/**
Data/DataScience/Models/ByFunction/Text2Img/StableDiffusion/*.png
Data/DataScience/Models/ByFunction/Text2Img/StableDiffusion/*.pth
Data/DataScience/Models/ByFunction/Text2Img/StableDiffusion/diffprocess/*
Data/DataScience/Models/ByFunction/Text2Img/StableDiffusion/MNIST/*
Data/DataScience/Models/TimeSeries/basics/data
Data/DataScience/Models/TimeSeries/LSTM/household_power_consumption.zip
Data/DataScience/Models/TimeSeries/TFT/by_hand/data/*.csv
Data/DataScience/Models/TimeSeries/TFT/by_hand/data/*.txt*
Data/DataScience/StudyCases-Challenge/Business/customer_lifetime_value/online_retail_II.xlsx
Data/DataScience/StudyCases-Challenge/Business/tx_classification/dataset/*
Data/DataScience/StudyCases-Challenge/Hickaton/hfactory_magic_folders/hi__paris_hackaton/building_energy_efficiency/dataset/*
Data/DataScience/StudyCases-Challenge/Hickaton/my_work/encoding.json


Data/DataEngineering/elasticsearch/*.crt
Data/DataScience/Models/ByFunction/LLM/mistral/pytorch/mistral-7B-v0.1/**
Data/DataScience/Models/ByFunction/LLM/mistral/transformers/.locks/**
Data/DataScience/Models/ByFunction/LLM/mistral/transformers/models**
Scripts/concurrent/philosophers_dining/bin/*
Scripts/concurrent2/*
Scripts/python/spotify/music.json
Scripts/python/spotify/song_list.pkl
