.vscode/settings.json
*__pycache__
Data/DataEngineering/airflow/service/secrets/
Data/DataEngineering/DB/postgresql/data
Data/DataScience/StudyCases-Challenge/Business/customer_lifetime_value/online_retail_II.xlsx
Data/DataScience/Models/TimeSeries/data
Data/DataEngineering/spark/pyspark/data/*
Scripts/concurrent2/*
Scripts/concurrent/philosophers_dining/bin/*
Data/DataScience/Frameworks/Tensorflow/Transformer/ted_hrlr_translate_pt_en_converter/*
Data/DataScience/Frameworks/Tensorflow/Transformer/ted_hrlr_translate_pt_en_converter.zip
Data/DataScience/Frameworks/Tensorflow/Transformer/translator/*
